**/converterLog.txt
**/osis2modLog.txt
**/EnhancedUsx
**/Osis
**/Sword
**/TextFeatures
**/VL_Done
**/*.class

Texts/Dbl/Biblica/_Special_/en_NIV - Copy/_README_.txt
Texts/Dbl/Biblica/_Special_/en_NIV - Copy/build.bat
Texts/Dbl/Biblica/_Special_/en_NIV/_README_.txt
Texts/Dbl/Biblica/_Special_/en_NIV/build.bat
Texts/Dbl/Biblica/_Special_/en_NIV/Osis - Copy/en_NIV_osis.xml
